{% extends 'netcop.html' %}
{% block main %}
  <h1>Clases de tráfico</h1>
  <div class="row">
    <div class="small-12 columns">
      {% for clase in object_list %}
        <div class="row">
          <div class="small-4 medium-3 columns">
            {{ clase.nombre }}
            {% if clase.activa %}
              <span class="success badge" title="Activa"><i class="fa fa-check"></i></span>
            {% else %}
              <span class="secondary badge" title="Inactiva"><i class="fa fa-times"></i></span>
            {% endif %}
          </div>
          <div class="small-6 medium-3 columns">
            {{ clase.descripcion }}
          </div>
          <div class="hide-for-small-only medium-2 columns">
            {% for red in clase.redes.all %}
              {{ red.cidr }}
            {% endfor %}
          </div>
          <div class="hide-for-small-only medium-2 columns">
            {% for puerto in clase.puertos.all %}
              {{ puerto.puerto }}
            {% endfor %}
          </div>
          <div class="small-2 columns">
            <a href="{% url 'update' clase.pk %}">Editar</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
